{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Autobuses Málaga</h1>

        {#        <div class="row">#}
        {#            <div class="col">#}
        {#                <h2 class="display-6">FILTROS</h2>#}
        {#                <hr/>#}
        {#                Filtros aqui#}
        {#            </div>#}
        {#        </div>#}

        <div class="row">
            <div class="col">
                <h2>Mapa</h2>
            </div>
        </div>
        <div class="row">
            <div id="mapa" class="col"></div>
        </div>

    </div>
{% endblock %}